.auth {
  background-color: rgb(50, 50, 50);
  padding: 2rem;
  border-radius: 4px;
}

.auth * {
  color: white;
  outline-offset: 2px;
  border-radius: 4px;
}

.input input, .input textarea {
  background-color: rgb(25, 25, 25);
  border: none;
  padding: 0.6rem;
  color: white;
}

.input label {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--grey);
}

.required::after {
  content: ' *';
  color: var(--red);
}

.btn-submit {
  background-color: var(--blue);
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  transition: 600ms;
}

.btn-submit:hover,
.btn-submit:focus {
  box-shadow: inset 18rem 0 0 0 var(--blue-2);
}

.auth-redirect {
  font-size: 0.75rem;
  align-self: flex-start;
}

.auth-redirect>a {
  color: var(--blue);
  font-weight: bold;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgb(153,170,181);
background: radial-gradient(circle, rgba(153,170,181,0.4) 15%, rgba(100,122,200,0.5) 100%);
}

.hidden {
  display: none;
}

.error {
  text-transform: lowercase;
  color: var(--red);
}