.chat {
  grid-template-columns: 1.2fr 5fr;
}

.chat-list {
  padding: 0.5rem;
  background-color: rgb(50, 50, 50);
  border-right: 4px solid rgba(40, 40, 40, 0.3);
}

.green-btn {
  background-color: var(--green);
}

.green-btn:hover,
.green-btn:focus {
  box-shadow: inset 30rem 0 0 0 var(--green-2);
}

.people button {
  position: relative;
  padding: 0.8rem 1.2rem;
  background-color: rgb(50, 50, 50);

  border: none;
  border-radius: 4px;

  transition: 0.1s;
}

.unread::before {
  content: "";
  height: 8px;
  width: 5px;
  background-color: white;
  border-radius: 0 6px 6px 0;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  transition: 0.2s;
}

.unread:hover::before {
  content: "";
  height: 18px;
  width: 5px;
  background-color: white;
  border-radius: 0 6px 6px 0;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.people button::after {
  content: "";
  height: 1px;
  width: 97%;
  background-color: var(--grey-transparent);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.people button:hover {
  background-color: rgb(75, 75, 75);
}

.user-settings {
  background-color: rgb(40, 40, 40);
  padding: 0.5rem;
  padding-left: 2.5rem;
  border-radius: 6px;
}

.user-settings .icon {
  height: 26px;
  width: 26px;
}

.chat-box-overlay {
  width: 100%;
  height: 100%;
  grid-template-rows: auto calc(100vh - 150px) auto;
}

.chat-box-overlay * {
  color: white;
}

.chat-header {
  padding: 0.3rem 1rem;

  background-color: rgb(55, 55, 55);
  border-bottom: 4px solid rgba(40, 40, 40, 0.3);
}

.icon {
  padding: 0.3rem;
  background-color: inherit;
  border: none;
  height: 36px;
  width: 36px;
}

.icon > img {
  height: 100%;
  width: 100%;
  filter: invert(0.7);
  transition: 0.2s;
}

.icon > img:hover {
  filter: invert(1);
}

.message-box {
  background-color: rgb(55, 55, 55);
  /* padding-bottom: 2rem;
  border-bottom: 4px solid rgba(40, 40, 40, 0.3);
  overflow-y: scroll; */

  overflow-anchor: auto;

  grid-template-rows: auto 1fr;
}

.messages {
  overflow-y: scroll;
}

.msg {
  width: 100%;
  transition: 0.1s;
  position: relative;
}

.msg > :is(div, form) {
  padding-left: 3.5rem;
}

.msg:hover {
  background-color: rgb(45, 45, 45);
}

.msg:has(.sender) {
  margin-top: 1.2rem;
}

.sender {
  font-weight: bold;
}

.timestamp {
  font-size: 0.6rem;
}

.avatar-container {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
  left: 0.5rem;
  top: 0.2rem;
}

.avatar {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.user-settings .avatar-container {
  height: 24px;
  width: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.msg .icon {
  display: none;
  transform: scale(0.7) translate(-50%, -50%);
  position: absolute;
  top: 0;
  right: 30px;
  border-radius: 8px;
  background-color: rgb(55, 55, 55);
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.3);
}

.msg:hover .icon {
  display: block;
}

.msg input {
  margin: 0.5rem 0;
  border-radius: 6px;
}

.typing-indicator {
  min-height: 30px;
  padding: 0.5rem 2rem;
  border-bottom: 4px solid rgba(40, 40, 40, 0.3);
}

.dot {
  height: 8px;
  width: 8px;
  background-color: var(--grey);

  border-radius: 50%;

  animation: typing 1.5s infinite;
}

.dot1 {
  animation-delay: 0s;
}

.dot2 {
  animation-delay: 0.5s;
}

.dot3 {
  animation-delay: 1s;
}

@keyframes typing {
  0%,
  100% {
    background-color: var(--grey);
  }
  25% {
    background-color: #fff;
  }
  50% {
    background-color: #fff;
    scale: 1.2;
  }
  75% {
    background-color: var(--grey);
  }
}

.send-message {
  background-color: rgb(55, 55, 55);
  padding-left: 2rem;
}

.send-message form {
  width: 70%;
  height: 60%;
}

.send-message form .icon {
  position: absolute;
  right: 0.5rem;
}

#send-msg {
  background-color: rgb(69, 69, 69);
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 6px;

  outline: none;

  padding: 0.6rem;
  font-size: 0.9rem;

  resize: none;
  vertical-align: center;
}

#send-msg:focus-visible {
  outline: 2px solid var(--grey);
  outline-offset: 4px;
}

@media screen and (max-width: 600px) {
  .chat {
    display: block;
  }

  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  .chat-list {
    display: none;
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 80%;
    transition: 0.3s ease-in;
    animation: slide-in 400ms;
  }

  .slide-in {
    animation: slide-in 400ms;
  }

  .slide-out {
    animation: slide-out 400ms;
  }

  .chat-box-overlay {
    width: 100%;
    height: 100%;
  }

  .send-message {
    width: 100%;
  }

  .send-message form {
    width: 90%;
  }
}
