.modal-overlay {
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0,0,0,0.5);
}

.modal {
  background-color: rgb(55,55,55);
  padding: 3rem;
  border-radius: 8px;
  border: 1px solid rgb(40,40,40);
  box-shadow: 0 0 20px 2px rgba(180,180,180,0.15);

}

.modal .icon {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}

.color-list {
  width: 70%;
  grid-template-columns: repeat(4,1fr);
  align-self: center;
}

.color {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
}

.selected {
  outline: 4px solid var(--grey);
  outline-offset: 2px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}